<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prosper.want.api.mapper.FriendMapper">

	<resultMap id="friendMap" type="Friend">
		<result property="friendFrom" column="friend_from" />
        <result property="friendTo" column="friend_to" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<select id="selectOne" parameterType="Map" resultMap="friendMap">
		SELECT *
		FROM friend
		WHERE id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="friendMap">
        SELECT * 
        FROM friend
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    
    <select id="selectListByIds" parameterType="Map" resultMap="friendMap">
        SELECT * 
        FROM friend
        WHERE id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>

	<select id="selectListByUser" parameterType="Map" resultMap="friendMap">
		SELECT *
		FROM friend
		WHERE friend_from = #{userId}
	</select>

	<select id="selectOneByPair" parameterType="Map" resultMap="friendMap">
		SELECT *
		FROM friend
		WHERE friend_from = #{friendFrom}
		ANd friend_to = #{friendTo}
	</select>
    
    <insert id="insert" parameterType="Friend" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO friend
		SET friend_from = #{friendFrom},
		    friend_to = #{friendTo},
		    create_time = #{createTime}
	</insert>

	<update id="update" parameterType="Friend">
		UPDATE friend
		SET friend_from = #{friendFrom},
			friend_to = #{friendTo},
			create_time = #{createTime}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="Map">
		DELETE FROM friend
		where id = #{id}
	</delete>
	
</mapper>